<p id="notice"><%= notice %></p>

<p>
  <strong>Author Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Author Birth Date</strong>
  <%= @user.date_of_birth %>
</p>

<p>
   <strong>Author Email</strong>
   <%= @user.email %>
</p>   