<h1>Welcome to library, Admin!</h1>

<%= link_to '<button type="button">View Libraries</button>'.html_safe,libraries_path %>

<%= link_to '<button type="button">View Books</button>'.html_safe,books_path %>

<%= link_to '<button type="button">View Authors</button>'.html_safe,users_path %>

