<h1>Welcome to library, Author!</h1>

<% if @books.size > 0 %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Book Publication Date</th>
        <th>Library</th>
      </tr>
    </thead>
    
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.published_at %></td>
          <td><%= book.library&.name %></td>
          </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>
